#3.Working with Pandas data frames.

#Aim :<br>
**To Work with Pandas data frames.**

#Code:

In [4]:
import pandas as pd
data = {
  "students": [420, 380, 390],
  "mark1": [50, 40, 45],
   "mark2": [50, 40, 45],
    "mark3": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
print("Output:")

print(df)

Output:
   students  mark1  mark2  mark3
0       420     50     50     50
1       380     40     40     40
2       390     45     45     45